<html>
  <head>
    <title>
      アイスコーヒー管理室
    </title>
  </head>
  <body>
    はろー
    <form action="/create" method="POST">
      <input type="submit" value="コーヒー淹れた">
    </form>
    <form action="/itsunomeru" method="GET">
      <input type="submit" value="いつ飲める？">
    </form>
  </body>
</html>
